<nav class="navbar navbar-dark bg-dark text-white">
  <a class="navbar-brand" [routerLink]="['/home']"><i class="fa fa-film"></i> Películas App</a>
  <form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit()">
    <label [hidden]="!showAlert" class="alert alert-danger custom-alert">
      <small>Debe ingresar un término de búsqueda</small>
    </label>
    <input class="form-control mr-sm-2" [(ngModel)]="term" name="term" type="search" placeholder="Buscar" aria-label="Search" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Buscar</button>
  </form>
</nav>